.container_form{
    height: 92vh;
    padding: 5vh ;
}
.container_form form {
    margin-top: 10vh;
}

.container_form form input {
    margin: 2rem auto;
    display: block;
    height: 4rem;
    width: 40rem;
    border-radius: 1rem;
    border: 0.1rem solid #e2e2e2;
    padding: 1rem 2rem;
    
}
.container_form form input:nth-child(4){
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}

.container_form form input:nth-child(4):hover{
    color:green;
    border:0.1rem solid black
}
.container_form form button{
    display: block;
    margin: 0 auto;
    background-color: transparent;
    color: red;
    border: none;
    border: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    
}
.container_form form button:hover{
    transform: scale(2);
    font-weight: bolder;
}