.container_card{
    background-color: #fff;
    box-shadow:1px 1px 7px -1px rgba(53, 51, 51, 0.534);   
    border-radius: 0.7rem; 
    height: 30rem;
    width: 40rem;    
    text-align:justify;
    padding:2rem 2rem;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
.container_card:hover{
    transform: scale(1.05);
}

.container_card p:first-child{
    font-weight: bolder;
}
.container_card span{
    margin-bottom: 2rem;
    display: block;
    font-weight: 300;
    font-size: 1.2rem;
}
.container_card__content{
    text-indent: 3rem;
    padding: 0 1rem;
    font-size:1.5rem ;
    height: 18ch;
    overflow: hidden;
        
}
.container_card img{
    width: 2rem;
    position: absolute;
    bottom: 02%;
    right: 02%;
}
